################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
**/obj/**
**/bin/**
**/.vs/**
**/v16/**
**/suo/**
**/node_modules/**
**/.idea/**
/.idea
/.v2
[Dd]ebug/
[Dd]ebugPublic/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Vv]s
*.log
**/iron/**
/UAQMunicipality.EService/OutputDocumentHelper/Temp
/UAQMunicipality.Administration/appsettings.UAT.json
/UAQMunicipality.Authentication/appsettings.UAT.json
/UAQMunicipality.EService/appsettings.UAT.json
/UAQMunicipality.HappinessMeter.API/appsettings.UAT.json
/UAQMunicipality.Payment.API/appsettings.UAT.json
/UAQMunicipality.WorkManagement/appsettings.UAT.json
/UAQMunicipality.Administration/appsettings.prod.json
/UAQMunicipality.Authentication/appsettings.prod.json
/UAQMunicipality.EService/appsettings.prod.json
/UAQMunicipality.HappinessMeter.API/appsettings.prod.json
/UAQMunicipality.Payment.API/appsettings.prod.json
/UAQMunicipality.WorkManagement/appsettings.prod.json
